
@model Model.SupplierModel

<div class="modal fade" id="inputModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm("save", "supplier",
                            new { @area = "partner" },
                            new AjaxOptions { HttpMethod = "post" },
                            new { @class = "form", @id = "inputForm", }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Insert)
                @Html.HiddenFor(m => m.ID)
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Thông tin nhà cung cấp</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Mẫ nhà cung cấp</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Code, new { @maxlength = "50", @class = "form-control", @required = true })
                                    @Html.ValidationMessageFor(m => m.Code)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Tên nhà cung cấp</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Name, new { @maxlength = "50", @class = "form-control", @required = true })
                                    @Html.ValidationMessageFor(m => m.Name)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Ngày sinh</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control", @maxlength = 10 })
                                    @Html.ValidationMessageFor(m => m.Birthdate)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Số điện thoại <span class="color-red">*</span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @maxlength = 15, @required = true })
                                    @Html.ValidationMessageFor(m => m.Phone)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Mã số thuế</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.TaxCode, new { @class = "form-control", @maxlength = 20 })
                                    @Html.ValidationMessageFor(m => m.TaxCode)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Nhóm nhà cung cấp</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.DropDownListFor(m => m.GroupID, (IEnumerable<SelectListItem>)ViewBag.group,
                                                                       new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Địa chỉ</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextBoxFor(m => m.Address, new { @maxlength = 50, @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label>Ghi chú</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <img id="thumbnail" src="@Model.Avatar" style="width: 100%;" />
                                    @Html.HiddenFor(m => m.Avatar)
                                    @Html.HiddenFor(m => m.ImageFileName)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <label class="custom-file-upload">
                                        <input type="file" accept="image/png, image/jpeg" />
                                        Chọn ảnh
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a href="#" data-dismiss="modal" class="btn btn-default">Đóng</a>
                    <button class="btn btn-primary primary-button">Lưu</button>
                </div>
                                        }
        </div>
    </div>
</div>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
<script>
    $(document).ready(function () {
        $('#inputModel').modal('show');
        //
        $('.selectpicker').selectpicker();
        //
        $(function () {
            $('#Birthdate').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });

        $('#inputForm').submit(function () {
            if ($(this).valid()) {
                $('#loadingModel').modal('show');
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.login !== undefined || result.login !== null) {
                            window.location.href = '/home/login';
                        }
                        if (result.status == 1) {
                            notification('@Resources.Notification.TypeSuccessTitle', result.message, '@Resources.Notification.TypeSuccess');
                            table.ajax.reload();
                            $('#inputModel').modal('hide');
                        } else {
                            notification('@Resources.Notification.TypeErrorTitle', result.message, '@Resources.Notification.TypeError');
                        }
                        $('#loadingModel').modal('hide');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 401 || xhr.status == 530) {
                            window.location.href = '/home/login';
                        }
                    }
                });
            }
            return false;
        });


        $('input[type=file]').change(function () {
            console.log(this.files[0]);
            getBase64(this.files[0], '#thumbnail', '#ImageFileName', '#Avatar');
        });

        function getBase64(file, img, fileName, filebase64) {
            $(fileName).val(file.name);
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                var image = new Image();
                image.src = reader.result;
                image.width = 100;
                //$(img).html(image);
                $(img).attr('src', reader.result);
                $(filebase64).val(reader.result);
            };
            reader.onerror = function (error) {
                console.log('Can not render file: ', error);
            };
        }
    });

</script>