<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/Content/js/bootstrap")*@
    @RenderSection("header", required: false)

</head>
<body class="container-fluid">
    @*@Html.Partial("_LoginPartial")*@
    @RenderBody()
    @RenderSection("script", required: false)
</body>
</html>
