<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    <link href="~/Content/datatable/dataTable.custom.css" rel="stylesheet" />

    @RenderSection("header", required: false)

</head>
<body class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a href="/" class="logo">
                        <img src="~/Images/login_logo.png"/>
                    </a>
                </div>
                <div class="col-md-10 col-sm-10 col-xs-12 notifications-menu">
                    <ul class="right-bar">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Lịch làm việc">
                                <i class="fa fa-calendar"></i>
                                <span class="label label-schedule">4</span>
                            </a>
                            <div class="dropdown-menu panel panel-schedule">
                                <div class="panel-heading">Lịch làm việc</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12 schedule-content">
                                            <!-- start message -->
                                            <a href="#">
                                                <h4>
                                                    <i class="fa fa-clock-o"></i> 25/05/2017 10:00
                                                    <small></small>
                                                </h4>
                                                <p>Cuộc họp nội bộ</p>
                                            </a>
                                        </div>
                                        <div class="col-md-12 schedule-content">
                                            <!-- start message -->
                                            <a href="#">
                                                <h4>
                                                    <i class="fa fa-clock-o"></i> 25/05/2017
                                                    <small></small>
                                                </h4>
                                                <p>Nộp báo cáo công việc trong tuần</p>
                                            </a>
                                        </div>
                                        <div class="col-md-12 schedule-content">
                                            <!-- start message -->
                                            <a href="#">
                                                <h4>
                                                    <i class="fa fa-clock-o"></i> 25/05/2017
                                                    <small></small>
                                                </h4>
                                                <p>Nộp bản kế hoạch công việc đầu tuần</p>
                                            </a>
                                        </div>
                                        <div class="col-md-12 schedule-content">
                                            <!-- start message -->
                                            <a href="#">
                                                <h4>
                                                    <i class="fa fa-clock-o"></i> 25/05/2017
                                                    <small></small>
                                                </h4>
                                                <p>Đánh giá kết quả công việc tuần</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">Xem tất cả lịch làm việc</div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Thông báo">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-notification">99</span>
                            </a>
                            <div class="dropdown-menu panel panel-notification">
                                <div class="panel-heading">Thông báo</div>
                                <div class="panel-body"></div>
                                <div class="panel-footer">Xem tất cả thông báo</div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Công việc trong tuần">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-task">9</span>
                            </a>
                            <div class="dropdown-menu panel panel-task">
                                <div class="panel-heading">Nhiệm vụ - Công việc trong tuần</div>
                                <div class="panel-body"></div>
                                <div class="panel-footer">Xem tất cả công việc trong tuần</div>
                            </div>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Files/User/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <div class="dropdown-menu panel panel-profile">
                                <div class="panel-heading">
                                    <img src="/Files/User/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <h5>Tran dinh hung</h5>
                                    <small>Tu 20/01/2011</small>
                                </div>
                                <div class="panel-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Thông tin</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Đăng xuất</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-navbar">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li class="test">
                    <a href="#"><i class="glyphicon glyphicon-eye-open"></i>  Tổng quan</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-book"></i> Kho hàng</a>
                    <ul>
                        <li>
                            <a href="javascript:;"><i class="glyphicon glyphicon-th"></i> Danh mục</a>
                            <ul>
                                <li>
                                    <a href="/warehouse/goodsgroup"><i class="glyphicon glyphicon-th"></i> Nhóm hàng hóa</a>
                                </li>
                                <li>
                                    <a href="/warehouse/goods"><i class="glyphicon glyphicon-th"></i> Hàng hóa</a>
                                </li>
                                <li>
                                    <a href="/warehouse/unit"><i class="glyphicon glyphicon-th"></i> Đơn vị tính</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/warehouse/stockin"><i class="glyphicon glyphicon-th"></i> Nhập kho</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-usd"></i> Thiết lập giá</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Kiểm kho</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Đặt hàng nhà cung cấp</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Trả hàng nhà cung cấp</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Nhập kho</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Xuất kho</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Chuyển kho</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Báo cáo - Thống kê</a>
                            <ul>
                                <li>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-transfer"></i> Giao dịch</a>
                    <ul>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-check"></i> Đặt hàng</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-briefcase"></i> Hóa đơn</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-equalizer"></i> Trả hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-male"></i> Đối tác</a>
                    <ul>
                        <li>
                            <a href="/partner/customergroup/index"><i class="fa fa-address-card" aria-hidden="true"></i> Nhóm khách hàng</a>
                        </li>
                        <li>
                            <a href="/partner/customer/index"><i class="fa fa-address-card" aria-hidden="true"></i> Khách hàng</a>
                        </li>
                        <li>
                            <a href="/partner/suppliergroup/index"><i class="fa fa-handshake-o" aria-hidden="true"></i> Nhóm nhà cung cấp</a>
                        </li>
                        <li>
                            <a href="/partner/supplier/index"><i class="fa fa-handshake-o" aria-hidden="true"></i> Nhà cung cấp</a>
                        </li>
                        <li>
                            <a href="/partner/delivergroup/index"><i class="fa fa-address-card-o" aria-hidden="true"></i> Nhóm đối tac giao hàng</a>
                        </li>
                        <li>
                            <a href="/partner/deliver/index"><i class="fa fa-address-card-o" aria-hidden="true"></i> Đối tac giao hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-usd"></i> Sổ quỹ</a>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-signal"></i> Báo cáo</a>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cuối ngày</a>
                        </li>
                        <li>
                            <a href="#">Womens</a>
                            <ul>
                                <li><a href="#">Wool</a></li>
                                <li><a href="#">Knitwear</a></li>
                                <li><a href="#">Light Sweaters</a></li>
                                <li><a href="#">Cardigans</a></li>
                                <li><a href="#">Hoodies</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-signal"></i> Quản lý</a>
                    <ul>
                        <li>
                            <a href="/internal/branch/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Chi nhánh</a>
                        </li>
                        <li>
                            <a href="/internal/employee/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Nhân viên</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Trang thiết bị</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Cấu trúc công ty</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="glyphicon glyphicon-signal"></i> Cài đặt - Hệ thống</a>
                    <ul>
                        <li>
                            <a href="/internal/branch/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Tài khoản đăng nhập</a>
                        </li>
                        <li>
                            <a href="/internal/employee/index"><i class="fa fa-bar-chart" aria-hidden="true"></i> Quyền</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Lịch sử thao tác</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i> Thiết lập mẫu in</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Lịch</a>
                    <ul>
                        <li><a href="#">Nghỉ phép</a></li>
                        <li><a href="#">Lịch làm việc</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Trợ giúp</a>
                </li>
                <li>
                    <a href="#">Outerwear</a>
                    <ul>
                        <li>
                            <a href="#">Womens</a>
                            <ul>
                                <li><a href="#">Winter</a></li>
                                <li><a href="#">Spring/Fall</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Mens</a>
                            <ul>
                                <li><a href="#">Winter</a></li>
                                <li><a href="#">Spring/Fall</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Shipping Info</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 15px;">
                    Thong bao neu co se hien thi o day
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-12">
                    @RenderBody()
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Thông báo <a href="javascript:;" title="Xem tất cả thông báo"><i class="glyphicon glyphicon-modal-window" style="float: right;"></i></a></h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hoạt động gần đây<a href="javascript:;" title="Xem tất cả các hoạt động gần đây"><i class="glyphicon glyphicon-modal-window" style="float: right;"></i></a></h3>
                        </div>
                        <div class="panel-body">
                            Panel content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row section-footer">
        <div class="col-md-12 col-sm-12 col-xs-12"></div>
    </div>

    @Html.Partial("_Loading")
    @Html.Partial("_MultipleModel")
        @Scripts.Render("~/Content/js/bootstrap")
    @RenderSection("script", required: false)
</body>
</html>
