<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/Content/js/bootstrap")
    @RenderSection("header", required: false)
</head>
<body class="container-fluid" style="background-color: rgba(0, 0, 0, 0.8);">
    @RenderBody()
    @RenderSection("script", required: false)
</body>
</html>
