@model Model.StockInModel

<style>
    .removeItem {
        cursor: pointer;
    }
    #goodsOrgPrice,
    #goodsDiscount,
    #goodsNumber {
        width: 70px;
        text-align:right;
    }
</style>

<div class="modal" id="inputModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
        @using (Ajax.BeginForm("save", "stockin",
                                                new { @area = "warehouse" },
                                                new AjaxOptions { HttpMethod = "post" },
                                                new { @class = "form", @id = "inputForm", }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Insert)
            @Html.HiddenFor(m => m.ID)
            <div class="modal-header">
                <h4 class="modal-title">Thông tin nhập kho</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Nhập hàng</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <input type="text" id="findGoods" name="findGoods" class="form-control" placeholder="Nhập thông tin hàng hóa cần tìm" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tableStockin" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Tên hàng hóa</th>
                                                <th style="width: 80px;">Đơn giá</th>
                                                <th style="width: 80px;">Giảm giá</th>
                                                <th style="width: 80px;">Số lượng</th>
                                                <th style="width: 80px;">Thành tiên</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#commonTab" aria-controls="commonTab" role="tab" data-toggle="tab">Thông tin chung</a></li>
                                <li role="presentation"><a href="#extendTab" aria-controls="extendTab" role="tab" data-toggle="tab">Mở rộng</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content" style="padding-top:10px;">
                                <div role="tabpanel" class="tab-pane active" id="commonTab">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                            @Html.DropDownListFor(m => m.EmployeeID, (IEnumerable<SelectListItem>)ViewBag.employee, new { @class = "form-control", @style = "font-size: 10px;", @value = Model.EmployeeID})
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                                            @Html.TextBoxFor(m => m.StockInDate, new { @class = "form-control datetimepicker", @style = "font-size: 10px;" })
                                            @Html.ValidationMessageFor(m => m.StockInDate)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Mã phiếu nhập</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12 form-group">
                                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.Code)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Chi nhánh</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12 form-group">
                                            @Html.DropDownListFor(m => m.BranchID, (IEnumerable<SelectListItem>)ViewBag.branch, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.BranchID)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Nhà cung cấp</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12 form-group">
                                            @Html.DropDownListFor(m => m.SupplierID, (IEnumerable<SelectListItem>)ViewBag.supplier, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.SupplierID)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Trạng thái</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12" style="padding-top: 5px;">
                                            @Html.HiddenFor(m => m.IsFinish)
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="extendTab">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Lý do nhập</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12 form-group">
                                            @Html.TextAreaFor(m => m.Reason, new { @class = "form-control", @maxlength = 255 })
                                            @Html.ValidationMessageFor(m => m.Reason)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-4 col-xs-12" style="padding-top: 5px;">
                                            <span>Ghi chú</span>
                                        </div>
                                        <div class="col-md-9 col-sm-8 col-xs-12 form-group">
                                            @Html.TextAreaFor(m => m.Notes, new { @class = "form-control", @maxlength = 255 })
                                            @Html.ValidationMessageFor(m => m.Notes)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#paymentTab" aria-controls="paymentTab" role="tab" data-toggle="tab">Thanh toán</a></li>
                            </ul>
                            <div class="tab-content" style="padding-top:10px;">
                                <div role="tabpanel" class="tab-pane active" id="paymentTab">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8" style="padding-top: 5px;">
                                            <span>Tổng tiền hàng</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                                            @Html.HiddenFor(m => m.TotalMoney)
                                            @Html.TextBox("TotalMoneyValue", Model.TotalMoney, new { @class = "number form-control", @readonly = true, @style = "color: Blue; font-weight: bold;" })
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <span>Giảm giá</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                                            @Html.TextBox("DiscountValue", Model.Discount, new { @class = "form-control number", @maxlength = 12 })
                                            @Html.HiddenFor(m => m.Discount)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <span>Tiền cần trả</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                                            @Html.TextBox("PayableValue",Model.Payable, new { @class = "form-control number", @maxlength = 12 })
                                            @Html.HiddenFor(m => m.Payable)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 col-sm-8 col-xs-8">
                                            <span>Tính vào công nợ</span>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-4 form-group">
                                            @Html.TextBox("DeptValue", Model.Dept, new { @class = "number form-control", @style = " color: red;", @readonly = true })
                                            @Html.HiddenFor(m => m.Dept)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn btn-default">Đóng</a>
                <button class="btn btn-primary primary-button">Lưu</button>
            </div>
        }
            
        </div>
    </div>
</div>
<script src="~/Content/accounting.min.js"></script>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
<script>
    var listProduct = [];
    $(document).ready(function () {
        scrollBodyModal('#findGoods');
        onlyInputNumber();
        $('.datetimepicker').datetimepicker({
        });
        declareValueChange();
        getItem('@Model.ID', '@Model.Insert');

        $('#inputForm').submit(function () {
            if ($(this).valid()) {
                $('#loadingModel').modal('show');
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            notification(result.message, '@Resources.Notification.TypeSuccess');
                            table.ajax.reload();
                            $('#inputModel').modal('hide');
                        } else {
                            notification(result.message, '@Resources.Notification.TypeError');
                        }
                        $('#loadingModel').modal('hide');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 401 || xhr.status == 530) {
                            window.location.href = '/home/login';
                        }
                    }
                });
            }
            return false;
        });
    });

    //LocationName
    $("#findGoods").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("findgoods", "stockin", new { Area = "Warehouse" })',
                datatype: "json",
                type: 'post',
                data: {
                    name: request.term,
                    productID: listProduct.toString()
                },
                success: function (data) {
                    console.log(data);
                    response($.map(data, function (val, item) {
                        return {
                            label: val.Name,
                            value: val.ID,
                            id: val.ID,
                            code: val.Code,
                            orgPrice: val.OrgPrice,
                        }
                    }))
                }
            })
        },
        select: function (event, ui) {
            event.preventDefault();
            listProduct.push(ui.item.id);
            var row = $('<tr/>');
            var td1 = $('<td/>').attr('style', 'vertical-align: middle; text-align: center;').attr('width', '20px');
            td1.append($('<span/>').attr('class', 'removeItem color-red').html('x'));
            td1.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsId').attr('name', 'goodsId').attr('class', 'idItem').attr('value', ui.item.id));
            var td2 = $('<td/>').attr('style', 'vertical-align: middle;').html(ui.item.label);
            var td3 = $('<td/>');
            td3.append($('<input/>').attr('type', 'text').attr('id', 'goodsOrgPriceValue').attr('name', 'goodsOrgPriceValue').attr('class', 'number form-control').attr('value', formatNumberValue(ui.item.orgPrice, 1)));
            td3.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsOrgPrice').attr('name', 'goodsOrgPrice').attr('value', ui.item.orgPrice));
            var td4 = $('<td/>');
            td4.append($('<input/>').attr('type', 'text').attr('id', 'goodsDiscountValue').attr('name', 'goodsDiscountValue').attr('class', 'number form-control').attr('value', 0));
            td4.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsDiscount').attr('name', 'goodsDiscount').attr('value', 0));
            var td5 = $('<td/>');
            td5.append($('<input/>').attr('type', 'text').attr('id', 'goodsNumberValue').attr('name', 'goodsNumberValue').attr('class', 'number form-control').attr('value', 0));
            td5.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsNumber').attr('name', 'goodsNumber').attr('value', 0));
            var td6 = $('<td/>');
            td6.append($('<label/>').attr('id', 'goodsTotalValue').attr('name', 'goodsTotalValue').attr('class', 'number').attr('style', 'float:right; margin-top:5px;').html(0));
            td6.append($('<input/>').attr('id', 'goodsTotal').attr('name', 'goodsTotal').attr('type', 'hidden').val(0));
            row.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6);
            $('#tableStockin tbody').append(row);

            $('#findGoods').val('');
            declareValueChange();
            onlyInputNumber();
        },
        focus: function (event, ui) {
            event.preventDefault();
            //$("#LocationName").val(ui.item.label);
        }
    });

    $(document).on('click', '.removeItem', function (e) {
        var price = parseFloat($(this).parent().parent().find('#goodsTotal').val());
        totalPayment(price, 0);
        var id = $(this).parent().find('#goodsId').val();
        listProduct = $.grep(listProduct, function (value) {
            return value !== id;
        });
        $(this).parent().parent().remove();
    });
    
    function declareValueChange() {
        $(document).on('change', '#goodsOrgPriceValue', function (e) {
            var price = $(this).val().replace(',', '');
            $(this).val(formatNumberValue(price, 1));
            $(this).parent().find('#goodsOrgPrice').val(price);
            var discount = parseFloat($(this).parent().parent().find('#goodsDiscount').val());
            var number = parseFloat($(this).parent().parent().find('#goodsNumber').val());
            var total = (price * number) - discount;
            var oldValue = parseFloat($(this).parent().parent().find('#goodsTotal').val());
            $(this).parent().parent().find('#goodsTotal').val(total);
            $(this).parent().parent().find('#goodsTotalValue').html(formatNumberValue(total, 1));
            totalPayment(oldValue, total);
        });
        $(document).on('change', '#goodsDiscountValue', function (e) {
            var discount = $(this).val().replace(',', '');
            $(this).val(formatNumberValue(discount, 1));
            $(this).parent().find('#goodsDiscount').val(discount);
            var price = parseFloat($(this).parent().parent().find('#goodsOrgPrice').val());
            var number = parseFloat($(this).parent().parent().find('#goodsNumber').val());
            var total = (price * number) - discount;
            var oldValue = parseFloat($(this).parent().parent().find('#goodsTotal').val());
            $(this).parent().parent().find('#goodsTotal').val(total);
            $(this).parent().parent().find('#goodsTotalValue').html(formatNumberValue(total, 1));
            totalPayment(oldValue, total);
        });
        $(document).on('change', '#goodsNumberValue', function (e) {
            var number = $(this).val().replace(',', '');
            $(this).val(formatNumberValue(number, 1));
            $(this).parent().find('#goodsNumber').val(number);
            var price = parseFloat($(this).parent().parent().find('#goodsOrgPrice').val());
            var discount = parseFloat($(this).parent().parent().find('#goodsDiscount').val());
            var total = (price * number) - discount;
            var oldValue = parseFloat($(this).parent().parent().find('#goodsTotal').val());
            $(this).parent().parent().find('#goodsTotal').val(total);
            $(this).parent().parent().find('#goodsTotalValue').html(formatNumberValue(total, 1));
            totalPayment(oldValue, total);
        });
    }

    $(document).on('change', '#PayableValue', function (e) {
        var payable = parseFloat($(this).val().replace(',', ''));
        var tmp = formatNumberValue($(this).val(), 1);
        $(this).val(tmp);
        var totalMoney = parseFloat($('#TotalMoney').val().replace(',', ''));
        var discount = parseFloat($('#Discount').val().replace(',', ''));
        var dept = totalMoney - discount - payable;
        //
        $('#Payable').val(payable);
        $('#Dept').val(dept);
        $('#DeptValue').val(formatNumberValue(dept, 1));
    });

    $(document).on('change', '#DiscountValue', function (e) {
        var discount = parseFloat($(this).val().replace(',', ''));
        var tmp = formatNumberValue($(this).val(), 1);
        $(this).val(tmp);
        var totalMoney = parseFloat($('#TotalMoney').val().replace(',', ''));
        var payable = parseFloat($('#Payable').val().replace(',', ''));
        var dept = totalMoney - discount - payable;
        //
        $('#Discount').val(discount);
        $('#Dept').val(dept);
        $('#DeptValue').val(formatNumberValue(dept, 1));
    });

    function totalPayment(oldValue, newValue) {
        //debugger;
        var totalMoney = parseFloat($('#TotalMoney').val());
        var discount = parseFloat($('#Discount').val());
        var payable = parseFloat($('#Payable').val());
        var dept = parseFloat($('#Dept').val());
        if (oldValue > newValue) {
            totalMoney = totalMoney - (oldValue - newValue);
        } else {
            totalMoney = totalMoney + (newValue - oldValue);
        }
        $('#TotalMoney').val(totalMoney);
        $('#TotalMoneyValue').val(formatNumberValue(totalMoney, 1));
        $('#Dept').val(totalMoney - discount - payable);
        $('#DeptValue').val(formatNumberValue(totalMoney - discount - payable, 1));
    }

    function getItem(id, insert) {
        console.log(insert);
        if (insert === 'False') {
            $('#loadingModel').modal('show');
            $.ajax({
                url: '/Warehouse/StockIn/GetItem',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                data: { id: id },
                success: function (result) {
                    $('#Code').val(result.Code);
                    $('#EmployeeID').val(result.EmployeeID);
                    $('#BranchID').val(result.BranchID);
                    $('#SupplierID').val(result.SupplierID);
                    $('#StockInDate').val(result.StockInDateString);
                    $('#TotalMoneyValue').val(formatNumberValue(result.TotalMoney, 1));
                    $('#TotalMoney').val(result.TotalMoney);
                    $('#DiscountValue').val(formatNumberValue(result.Discount, 1));
                    $('#Discount').val(result.Discount);
                    $('#PayableValue').val(formatNumberValue(result.Payable, 1));
                    $('#Payable').val(result.Payable);
                    $('#DeptValue').val(formatNumberValue(result.Dept, 1));
                    $('#Dept').val(result.Dept);
                    $('#Reason').val(result.Reason);
                    $('#Notes').val(result.Notes);
                    $.each(result.details, function (idx, item) {
                        listProduct.push(item.GoodsID);
                        var row = $('<tr/>');
                        var td1 = $('<td/>').attr('style', 'vertical-align: middle;').attr('width', '20px');
                        td1.append($('<span/>').attr('class', 'removeItem color-red').html('x'));
                        td1.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsId').attr('name', 'goodsId').attr('class', 'idItem').attr('value', item.GoodsID));
                        var td2 = $('<td/>').attr('style', 'vertical-align: middle;').html(item.GoodsName);
                        var td3 = $('<td/>');
                        td3.append($('<input/>').attr('type', 'text').attr('id', 'goodsOrgPriceValue').attr('name', 'goodsOrgPriceValue').attr('class', 'number form-control').attr('value', formatNumberValue(item.Price, 1)));
                        td3.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsOrgPrice').attr('name', 'goodsOrgPrice').attr('value', item.Price));
                        var td4 = $('<td/>');
                        td4.append($('<input/>').attr('type', 'text').attr('id', 'goodsDiscountValue').attr('name', 'goodsDiscountValue').attr('class', 'number form-control').attr('value', formatNumberValue(item.Discount, 1)));
                        td4.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsDiscount').attr('name', 'goodsDiscount').attr('value', item.Discount));
                        var td5 = $('<td/>');
                        td5.append($('<input/>').attr('type', 'text').attr('id', 'goodsNumberValue').attr('name', 'goodsNumberValue').attr('class', 'number form-control').attr('value', formatNumberValue(item.Number, 1)));
                        td5.append($('<input/>').attr('type', 'hidden').attr('id', 'goodsNumber').attr('name', 'goodsNumber').attr('value', item.Number));
                        var td6 = $('<td/>');
                        td6.append($('<label/>').attr('id', 'goodsTotalValue').attr('name', 'goodsTotalValue').attr('class', 'number').attr('style', 'float:right; margin-top:5px;').html(formatNumberValue(item.Total, 1)));
                        td6.append($('<input/>').attr('id', 'goodsTotal').attr('name', 'goodsTotal').attr('type', 'hidden').val(item.Total));
                        row.append(td1).append(td2).append(td3).append(td4).append(td5).append(td6);
                        $('#tableStockin tbody').append(row);
                        declareValueChange();
                        onlyInputNumber();
                    });
                    $('#loadingModel').modal('hide');
                }
            });
        }
    }
</script>
