@model Model.User.UserLoginModel
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section header{

}
<div class="row mrg-top-50">
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        @using (Html.BeginForm("login", "home", FormMethod.Post, new { @id = "loginForm" }))
        {
            <div class="text-center">
                <img src="/Images/login_logo.png" alt="Nem lụi sài gòn" />
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 background">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>Đăng nhập</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Tên đăng nhập
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @required = true, @focus = true })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            Mật khẩu
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = true })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <div class="checkbox">
                                <label>
                                    
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = true })
                                    <span>Duy trì đăng nhập</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mrg-button-20">
                            <input type="submit" class="btn btn-primary" value="Đăng nhập" />
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <div class="modal-footer">
                    <ul>
                        <li>
                            <i class="fa fa-phone-square" aria-hidden="true"></i>Hỗ trợ: 18006162
                        </li>
                        <li>
                            <a href="/home/forgotpassword">Quên mật khẩu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3"></div>
</div>

@section script{
    @if (TempData["message"] != null)
    {
        <script>
            $(document).ready(function () {
                notification('Thông báo', '@TempData["message"]', '@Resources.Notification.TypeWarning');

            });
        </script>
    }
}

