@model Model.GoodsGroupModel

<div class="modal fade" id="inputModel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Ajax.BeginForm("save", "goodsgroup",
                            new { @area = "warehouse" },
                            new AjaxOptions { HttpMethod = "post" },
                            new { @class = "form", @id = "inputForm", }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Insert)
                @Html.HiddenFor(m => m.ID)
                <div class="modal-header">
                    <h4 class="modal-title">Thông tin nhóm hàng hóa</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Tên nhóm<span class="color-red"> *</span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                @Html.TextBoxFor(m => m.Name, new { @maxlength = "50", @class = "form-control", @required = true, @autocomplete = "off", @autofocus = true })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label>Ghi chú</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                @Html.TextAreaFor(m => m.Notes, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" onclick="clearInputModal()" class="btn btn-default">Đóng</a>
                    <button class="btn btn-primary primary-button">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
<script>
    $(document).ready(function () {
        scrollBodyModal('#Name');

        $('#inputForm').submit(function () {
            if ($(this).valid()) {
                $('#loadingModel').modal('show');
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.status == 1) {
                            notification(result.message, '@Resources.Notification.TypeSuccess');
                            table.ajax.reload();
                            $('#inputModel').modal('hide');
                        } else {
                            notification(result.message, '@Resources.Notification.TypeError');
                        }
                        $('#loadingModel').modal('hide');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        if (xhr.status == 401 || xhr.status == 530) {
                            window.location.href = '/home/login';
                        }
                    }
                });
            }
            return false;
        });
    });
</script>